a:hover {
  color: #484a20;
}

a:visited {
  color: #484a20;
}

a:active {
  color: #E7E8E3;
}

.About_us {
  font-family: 'Inter', sans-serif;
  width: 40vw;
  height:auto;
  margin-left: 5%;
  margin-top: 5%;
  font-size: 15pt;
  color: #2E3034;
}

.About_us_bold {
  font-family: 'Inter', sans-serif;
  font-size: 15pt;
  color: #484a20;
}

.App-aside-menu {
  display: flex;
  flex-direction: column;
  background-color: #6F7239;
  height: auto;
  width: 10vw;
  z-index: 100;
}

.App-menu-item {
  color: #E7E8E3;
}

.Catalog {
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  font-size: 2vw;
  color: #484a20;
  text-align: center;
  margin-bottom: 5%;
}

.Carousel {
  width: 486px;
  height: 410px;
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 10%;
}

.Catalog_block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10% 10%;
  grid-row-gap: 10%;
  grid-template-areas: 'item1 item2 item3'
                        'item4 item5 item6';
  background-color: #E7E8E3;
  margin-left: 11%;
  position: relative;
}

.Catalog_item {
  opacity: 1;
  display: block;
  height: 30vh;
  transition: .5s ease;
  backface-visibility: hidden;
  width: 20vw;
}

.Catalog_block:hover .Catalog_item:hover {
  opacity: 0.3;

}

.Footer_block {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2E3034;
  color: white;
}

.Footer_text {
  display: flex;
  flex-direction: row;
  text-align: left;
  height: auto;
  margin-left: 10%;
}

.Footer_name {
  font-family: 'Inter', sans-serif;
  margin-left: 3%;
  font-size: 15pt;
}

.Footer_icons {
  display: flex;
  color: #E7E8E3;
  margin-top: 5%;
  margin-left: 25%;
}

.Footer_c {
  font-family: 'Inter', sans-serif;
}

.Gallery_button {
  display: flex;
  align-self: center;
  padding: 0.5%;   
  width: auto;
  height: 5vh;
  background-color: white;
  color: black;
  border: 2px solid #484a20; 
  margin-top: 5%;
}

.Gallery_button:hover {
  background-color: #797c3d;
  color: white;
}

.item3 {
  grid-row: 1/2 ;
}

.item4 {
  grid-column-end: 2;
}

.item5 {
  grid-column-end: 4;
}

.item6 {
  grid-column: 2/3;
  grid-row: 2/3;
}

#Item1 {
  margin-top: 10%;
  width: 10vw;
  height: 10vh;
  margin-bottom: 15%;
}

#Item1:hover {
  color: #2E3034;
}

#Item2 {
  width: 10vw;
  height: 10vh;
  margin-bottom: 15%;
}

#Item2:hover {
  color: #2E3034;
}

#Item3 {
  width: 10vw;
  height: 10vh;
}

#Item3:hover {
  color: #2E3034;
}

.Header {
  display: flex;
  flex-direction: row;
  float: right;
  width: auto;
  height: 50vh;
  background-color: #A2B6B5;
}

.Header-text-box {
  display: flex;
  flex-direction: row;
  width: 25vw;
  height: 10vh;
  margin-left: 10%;
  margin-top: 6%;
}

.Header-text {
  font-family: 'Inter', sans-serif;
  color: #E7E8E3;
  font-size: 15pt;
  text-align: left;
  color: #2E3034;
}

.Header-logo {
  display: flex;
  flex-direction: row;
  width: 15vw;
  height: 15vh;
  margin-top: 7%;
  margin-left: 20%;
}

.Header_Homepage {
  display: flex;
  flex-direction: column;
}

.Header_page {
  display: flex;
  flex-direction: column;
}

.Insta_icon {
  margin-right: 15%;
}

.Twitter_icon {
  margin-right: 15%;
}

.Logo_text {
  font-family: 'Inter', sans-serif;
  color: #2E3034;
  font-size: 30pt;
  margin-top: 7%;
}

.Menu_Homepage {
  display: flex;
  flex-direction: row;
}

.Page {
  display: flex;
  flex-direction: column;
  width: auto;
  background-color:#E7E8E3;
  height: 100%;
}

.Slider_About {
  display: flex;
  flex-direction: row;
}

.Tel {
  color: #595c29;
}

ul > li {
  color: #484a20;
}

ul > li > span {
  color: #2E3034;
}

.We_do {
  font-family: 'Inter', sans-serif;
  font-size: 15pt;
  width: 90%;
  height: auto;
  margin-left: 5%;
  background-color: #A2B6B5;
  border-radius: 1em;
  margin-bottom: 5%;
}

.We_do_text {
  padding: 1% 1% 1% 3%;
  color: #2E3034;
}

.We_do_underline:hover {
  text-decoration: underline;
}

